{% extends 'base.html.twig' %}
{% block title %}Biblioteca Humberto Cárdenas - Contacto{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
{% endblock %}

{% block body %}

    <div class="banner-recursos">
        <div class="container">
            <div class="banner-title">Contacto</div>
        </div>
    </div>

    <section id="recursos">

        <div class="container">

            <div class="row flex-sm-column flex-md-row flex-lg-row row-cols-lg-3 my-5 mb-5">
                <div class="col-sm-12 col-md-12">
                    <div class="card-contacto card-border">
                        <div class="contacto-foto"><img src="{{ asset('build/images/jesus.png') }}" alt="Foto"></div>
                        <div class="contacto-funcion">Coordinador de biblioteca</div>
                        <div class="contacto-nombre">Dr. Jesús Muciño Raymundo</div>
                        <div class="contacto-email">muciray<i class="bi-at"></i>matmor.unam.mx</div>
                        <div class="contacto-tel1">Morelia: (443)322 2774</div>
                        <div class="contacto-extension">RedUNAM:32774</div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="card-contacto card-border">
                        <div class="contacto-foto"><img src="{{ asset('build/images/lidia.png') }}" alt="Foto"></div>
                        <div class="contacto-funcion">Responsable de biblioteca</div>
                        <div class="contacto-nombre">Lic. Lidia González García</div>
                        <div class="contacto-email">lidia<i class="bi-at"></i>matmor.unam.mx</div>
                        <div class="contacto-tel1">Morelia: (443)322 2772</div>
                        <div class="contacto-extension">RedUNAM:32772</div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="card-contacto">
                        <div class="contacto-foto"><img src="{{ asset('build/images/alejandro-medina.png') }}" alt="Foto"></div>
                        <div class="contacto-funcion">Técnico académico</div>
                        <div class="contacto-nombre">MGSI. Juan Alejandro Medina Alanis</div>
                        <div class="contacto-email">alejandro<i class="bi-at"></i>matmor.unam.mx</div>
                        <div class="contacto-tel1">Morelia: (443)322 2777</div>
                        <div class="contacto-extension">RedUNAM:42565</div>
                    </div>
                </div>
            </div>
                <div class="row flex-sm-column flex-md-row flex-lg-row row-cols-lg-3 my-5 mb-5">


                <div class="col-sm-12 col-md-12">
                    <div class="card-contacto card-border">
                        <div class="contacto-foto"><img src="{{ asset('build/images/aridain.png') }}" alt="Foto"></div>
                        <div class="contacto-funcion">Bibliotecaria</div>
                        <div class="contacto-nombre">Lic. Aridain Karime Hernández</div>
                        <div class="contacto-email">aridain<i class="bi-at"></i>matmor.unam.mx</div>
                        <div class="contacto-tel1">Morelia: (443)322 2777</div>
                        <div class="contacto-extension">RedUNAM:42566</div>
                    </div>
                </div>
            </div>

            <div class="py-5">
                <iframe width="100%" height="450" style="border:0" Loading="lazy" src="https://www.google.com/maps/embed/v1/place?q=biblioteca%20humberto%20c%C3%A1rdenas%20morelia&key=AIzaSyC_T1cjzFqOtpyD5QTs4fximSv4lGfL6VU"></iframe>
            </div>
        </div>
    </section>


{% endblock %}