{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

{% endblock %}

{% block body %}
    <div class="hero-image">
        <div class="container">
            <div class="hero-title">Biblioteca</div>
            <div class="hero-subtitle">Dr. Humberto Cárdenas Trigos</div>
            <div class="search-container d-flex justify-content-center">
                <form action="" class="search-bar" id="search-form">
                    <input type="text" placeholder="Buscar en catálogos" name="s-catalogo" id="search-query">
                    <button type="submit">
                        <img src="{{ asset('build/images/search.png') }}" alt="search">
                    </button>
                </form>
            </div>
        </div>
    </div>

    {{ include('libro/swiper.html.twig') }}

    <section id="resources">
        <div class="container">
            <div class="d-flex flex-row flex-sm-row flex-md-column flex-lg-row justify-content-center">
                <div class="resources-item flex-column mb-5">
                    <div class="resources-title ">Acceso Remoto<br></div>
                    <p>Si eres alumno vigente, profesor o académico en la UNAM, puedes aprovechar nuestros recursos electrónicos desde cualquier equipo con conexión a internet.</p>
                    <div class="d-flex justify-content-end">
                        <a href="https://bidi.unam.mx/index.php/ayuda/servicio-de-acceso-remoto" class="link-warning">Ver más</a>
                    </div>
                </div>
                <div class="resources-item flex-column lateral-borders mb-5">
                    <div class="resources-title">Dirección General de Bibliotecas y Servicios Digitales de Información UNAM</div>
                    <p>Coordina el Sistema Bibliotecario y de Información de la Universidad Nacional Autónoma de México (SIBIUNAM).</p>
                    <div class="d-flex justify-content-end">
                        <a href="https://www.dgb.unam.mx/" class="link-warning">Ver más</a>
                    </div>
                </div>
                <div class="resources-item flex-column mb-5">
                    <div class="resources-title">Sistema de Referencias Bibliográficas</div>
                    <p>Repositorio que concentra, preserva y resgurada la producción científica de cada uno de los académicos del CCM.</p>
                    <div class="d-flex justify-content-end">
                        <a href="https://gaspacho.matmor.unam.mx/SRB/" class="link-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="articles">
        <div class="container">
            <h1>Últimas publicaciones</h1>
            <div class="subtitle mb-5">Últimas publicaciones registradas</div>

            <div class="articles-container" id="articles-container">

            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    {{ encore_entry_script_tags('search') }}
    {{ encore_entry_script_tags('swiper') }}
    {{ encore_entry_script_tags('articles') }}


{% endblock %}

