{% extends 'base.html.twig' %}
{% block title %}Biblioteca Humberto Cárdenas - Nosotros{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-thumbnail.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-zoom.min.css" />
{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ path('app_site_index') }}">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active d-flex align-content-center" href="{{ path('app_site_nosotros') }}">Nosotros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_site_recursos') }}">Recursos</a>
    </li>
    <div class="dropdown">
        <button class="nav-link  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catálogos
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://ccm.bibliotecas.unam.mx:82/" target="_blank">Catálogos electrónicos</a></li>
            <li><a class="dropdown-item" href="{{ path('app_obras_completas_index') }}">Obras completas</a></li>
            <li><a class="dropdown-item" href="{{ path('app_revistas_index') }}">Revistas electrónicas</a></li>
        </ul>
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_site_contacto') }}">Contacto</a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('logout') }}">Cerrar sesión</a>
        </li>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="banner-nosotros">
        <div class="container">
            <div class="banner-title">Nosotros</div>
        </div>
    </div>

    <section class="section-nosotros">

        <div class="content-title">
            <h1 class="mt-5">Biblioteca Humberto Cárdenas Trigos</h1>
            <div class="subtitle mb-5">Centro de Ciencias Matemáticas</div>
        </div>

        <div class="container text-center">
            <div class="d-flex flex-row flex-sm-row flex-md-column flex-lg-row row justify-content-md-center mt-5">
                <div class="col-12 col-sm-12">
                    <img src="{{asset('build/images/bib-foto1.png')}}" alt="Foto biblioteca">
                </div>
            </div>

            <div class="statement d-flex flex-sm-column flex-md-column flex-lg-row justify-content-sm-center">
                <div class="mision-vision-title">Misión</div>
                <div class="content">
                    En la Biblioteca Dr. Humberto Cárdenas Trigos estamos comprometidos con nuestros usuarios para brindarles servicios de información
                    actuales, eficientes y oportunos. Buscamos ser el apoyo bibliográfico y documental de las necesidades académicas
                    de cada uno de los investigadores, estudiantes, profesores y público en general interesado en el estudio de las matemáticas.
                </div>
            </div>

            <div class="statement d-flex flex-sm-column flex-md-column flex-lg-row justify-content-sm-center">
                <div class="mision-vision-title">Visión</div>
                <div class="content">
                    Mantener a la vanguardia la Biblioteca Dr. Humberto Cárdenas Trigos en lo referente al uso y manejo de las tecnologías de
                    información, desarrollar acervos impresos y digitales con literatura actualizada en el campo de las matemáticas
                    y áreas de investigación que se cultivan en el Centro de Ciencias Matemáticas, conservar y preservar el acervo
                    bibliográfico y hemerográfico, difundir y promover los recursos y servicios de información con el propósito de
                    apoyar las actividades sustantivas de la Universidad como son; investigación, docencia, y difusión de la cultura, etc.
                </div>
            </div>

            <div class="statement d-flex flex-sm-column flex-md-column flex-lg-row justify-content-sm-center">
                <div class="mision-vision-title ">Colecciones</div>
                <div class="content">
                    La Biblioteca Dr. Humberto Cárdenas Trigos se ha consolidado a nivel regional como el acervo más
                    importante en el área de las matemáticas, posee una colección bibliográfica de más de 13,600 volúmenes
                    de libros impresos y 14,000 volúmenes de revistas, recibe en suscripción 106 títulos de revistas,
                    a través de su página web se pueden consultar más de 1,580 revistas electrónicas en texto completo,
                    y más de 19,000 libros electrónicos especializados en matemáticas de las principales editoriales a
                    nivel mundial, da acceso a las dos bases de datos más importantes en esta área como son el MathSciNet
                    y el Zentralblatt.
                </div>
            </div>

            <div class="content-title">
                <h1 class="mt-5">Conoce Nuestra Biblioteca</h1>
                <div class="subtitle mb-5">Centro de Ciencias Matemáticas, Morelia, Michoacán</div>
            </div>

            <div class="d-flex justify-content-center">
                <img class="w-50" src="{{ asset('build/images/gallery/DSC_0011-full.jpg') }}" alt="gallery 1">
            </div>

            <div class="d-flex justify-content-center">
                <div id="lightgallery" class="w-75 mt-2">
                    <a href="{{ asset('build/images/gallery/DSC_0011-full.jpg') }}">
                        <img src="{{ asset('build/images/gallery/DSC_0011.jpg') }}" />
                    </a>
                    <a href="{{ asset('build/images/gallery/DSC_0022-full.jpg') }}">
                        <img src="{{ asset('build/images/gallery/DSC_0022.jpg') }}" />
                    </a>
                    <a href="{{ asset('build/images/gallery/DSC_0078-full.jpg') }}">
                        <img src="{{ asset('build/images/gallery/DSC_0078.jpg') }}" />
                    </a>
                    <a href="{{ asset('build/images/gallery/DSC_0127-full.jpg') }}">
                        <img src="{{ asset('build/images/gallery/DSC_0127.jpg') }}" />
                    </a>
                    <a href="{{ asset('build/images/gallery/DSC_0356-full.jpg') }}">
                        <img src="{{ asset('build/images/gallery/DSC_0356.jpg') }}" />
                    </a>
                    <a href="{{ asset('build/images/gallery/DSC_0359-full.jpg') }}">
                        <img src="{{ asset('build/images/gallery/DSC_0359.jpg') }}" />
                    </a>
                </div>
            </div>

            <div class="content-title">
                <h1 class="mt-5">Áreas de Especialización</h1>
            </div>

            <div>
                <div class="d-flex justify-content-center my-3">
                    <div class="bg-biomate bg-area js-link" data-url="https://matmor.unam.mx/es/investigacion/biologia-matematica"><div class="fw-bold">BIOLOGÍA</div><div>MATEMÁTICA</div></div>
                    <div class="bg-geo-discreta bg-area js-link" data-url="https://matmor.unam.mx/es/investigacion/geometria-discreta"><div class="fw-bold">GEOMETRÍA</div><div>DISCRETA</div></div>
                    <div class="bg-teoria-grupos bg-area js-link" data-url="https://matmor.unam.mx/es/investigacion/combinatoria-algebraica-y-teoria-de-grupos"><div class="fw-bold">COMBINATORIA</div><div>ALGEBRAICA Y TEORÍA</div><div>DE GRUPOS</div></div>
                </div>

                <div class="d-flex justify-content-center my-3">
                    <div class="bg-diferenciales bg-area js-link" data-url="https://matmor.unam.mx/es/investigacion/ecuaciones-diferenciales"><div class="fw-bold">ECUACIONES</div><div>DIFERENCIALES</div></div>
                    <div class="bg-fisica bg-area js-link" data-url="https://matmor.unam.mx/es/investigacion/fisica-matematica"><div class="fw-bold">FÍSICA</div><div>MATEMÁTICA</div></div>
                    <div class="bg-cuantica bg-area js-link" data-url="https://matmor.unam.mx/es/investigacion/fundamentos-de-la-teoria-cuantica-de-campos"><div class="fw-bold">FUNDAMENTOS DE LA</div><div>TEORÍA CUÁNTICA</div><div>DE CAMPOS</div></div>
                </div>

                <div class="d-flex justify-content-center my-3">
                    <div class="bg-ge-algebraica bg-area js-link" data-url="https://matmor.unam.mx/es/investigacion/geometria-algebraica"><div class="fw-bold">GEOMETRÍA</div><div>ALGEBRAICA</div></div>
                    <div class="bg-geo-discreta2 bg-area js-link" data-url="https://matmor.unam.mx/es/investigacion/geometria-discreta"><div class="fw-bold">GEOMETRÍA</div><div>DISCRETA</div></div>
                    <div class="bg-gravedad-quantica bg-area js-link" data-url="https://matmor.unam.mx/es/investigacion/gravedad-cuantica"><div class="fw-bold">GRAVEDAD</div><div>CUÁNTICA</div></div>
                </div>

                <div class="d-flex justify-content-center my-3">
                    <div class="bg-sistemas-dinamicos bg-area js-link" data-url="https://matmor.unam.mx/es/investigacion/sistemas-dinamicos"><div class="fw-bold">SISTEMAS</div><div>DINAMIC0S</div></div>
                    <div class="bg-teoria-numeros bg-area js-link" data-url="https://matmor.unam.mx/es/investigacion/teoria-de-los-numeros"><div class="fw-bold">TEORÍA</div><div>DE NÚMEROS</div></div>
                </div>
            </div>

            <div class="content-title">

            </div>
        </div>
    </section>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js" integrity="sha512-jEJ0OA9fwz5wUn6rVfGhAXiiCSGrjYCwtQRUwI/wRGEuWRZxrnxoeDoNc+Pnhx8qwKVHs2BRQrVR9RE6T4UHBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/thumbnail/lg-thumbnail.min.js" integrity="sha512-VBbe8aA3uiK90EUKJnZ4iEs0lKXRhzaAXL8CIHWYReUwULzxkOSxlNixn41OLdX0R1KNP23/s76YPyeRhE6P+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/zoom/lg-zoom.min.js" integrity="sha512-BLW2Jrofiqm6m7JhkQDIh2olT0EBI58+hIL/AXWvo8gOXKmsNlU6myJyEkTy6rOAAZjn0032FRk8sl9RgXPYIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        window.onload = init;
        function init(){
            // the code to be called when the dom has loaded
            // #document has its nodes
            lightGallery(document.getElementById('lightgallery'), {
                plugins: [lgZoom, lgThumbnail],
                speed: 500,
                thumbnail: true,
            })
            ;
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let items = document.getElementsByClassName("js-link")

            for (let i = 0; i < items.length; i++) {
                items[i].addEventListener('click', () => {
                    window.open(items[i].dataset.url);
                });
            }


        });
    </script>
{% endblock %}