<div class="container">
    {{ form_start(form) }}
    <div class="form-control mb-5">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">{{ form_label(form.nombre, 'Nombre') }}</label>
                    {{ form_widget(form.nombre, {'attr': {'class': 'form-control','placeholder':'Nombre'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">{{ form_label(form.url, 'URL') }}</label>
                    {{ form_widget(form.url, {'attr': {'class': 'form-control','placeholder':'URL'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">{{ form_label(form.editorial, 'Editorial') }}</label>
                    {{ form_widget(form.editorial, {'attr': {'class': 'form-control','placeholder':'Editorial'}}) }}
                </div>
            </div>
        </div>
    {{ form_widget(form) }}
    <button class="mt-2 btn btn-dark"> <i class="fa-regular fa-paper-plane"></i> {{ button_label|default('Guardar') }}</button>
    {{ form_end(form) }}
    </div>
</div>