{% extends 'base.html.twig' %}

{% block title %}ObrasCompletas{% endblock %}

{% block body %}
    <div class="mt-3">
        <h1 >Obras completas</h1>
        <div class="subtitle mb-5">Centro de Ciencias Matemáticas</div>
    </div>


    <div class="container mb-5">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_obras_completas_index') }}">Regresar </a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ obras_completa.titulo }}</li>
            </ol>
        </nav>
        <table class="table">
            <tbody>

            <tr>
                <th>Autor</th>
                <td>{{ obras_completa.autor }}</td>
            </tr>
            <tr>
                <th>Título</th>
                <td>{{ obras_completa.titulo }}</td>
            </tr>
            <tr>
                <th>URL</th>
                <td><a href="{{ obras_completa.url }}" target="_blank"> {{ obras_completa.url }}</a></td>
            </tr>
            <tr>
                <th>Volúmen</th>
                <td>{{ obras_completa.vol }}</td>
            </tr>
            <tr>
                <th>Clasificación</th>
                <td>{{ obras_completa.clasificacion }}</td>
            </tr>
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="container">
                <div class="row row-cols-auto">
                    <div class="col"><a class="btn btn-dark" href="{{ path('app_obras_completas_edit', {'slug': obras_completa.slug}) }}"><i class="fa fa-edit"></i> Modificar</a></div>
                    <div class="col">{{ include('obras_completas/_delete_form.html.twig') }}</div>
                </div>
            </div>
        {% endif %}

    </div>


{% endblock %}
