{% extends 'base.html.twig' %}

{% block title %}Alerta Bibliográfica{% endblock %}



{% block body %}

    <h1 class="mt-4 mb-4">Alerta Bibliográfica No. {{ alertas.numero }} </h1>
    <div class="container mb-5 mt-5">

                <div class="row row-cols-auto">
                    {% for libro in alertas.libro %}
                        <div class="col-2 mb-5">
                            <div class="book-container">
                                <a href="{{libro.url}}" target="_blank">
                                    <img src="{{ vich_uploader_asset(libro, 'portadaFile')}}" class="img-responsive book-image" alt="book cover">
                                </a>
                                <div class="book-title">
                                    {% if libro.titulo|length > 20 %}
                                        {{ libro.titulo|slice(0,19) ~ ' ...' }}
                                    {% else %}
                                        {{ libro.titulo }}
                                    {% endif %}
                                </div>
                                <div class="book-info">
                                    <div class="book-author">
                                        {{ libro.autor }}
                                    </div>
                                    <div class="book-editorial">
                                        {{ libro.editorial }}, {{ libro.anio }}
                                    </div>
                                    <div class="book-clasificacion">
                                        {{ libro.clasificacion }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>

{% endblock %}
