{% extends 'base.html.twig' %}

{% block title %}Libro{% endblock %}

{% block body %}
    <div class="mt-4 mb-4">
        <h1 >Alerta Bibliográfica {{libro.alerta.numero}}</h1>
    </div>

    <div class="container mb-5">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
{#                <li class="breadcrumb-item"><a href="{{ path('app_libro_alerta',{'alerta':libro.alerta.slug}) }}">Regresar </a></li>#}
                  <li class="breadcrumb-item"><a href="{{ path('app_libro_index') }}">Regresar </a></li>

                <li class="breadcrumb-item active" aria-current="page">{{ libro.titulo }}</li>
            </ol>
        </nav>
        <table class="table">
            <tbody>
            <tr>
                <th>Titulo</th>
                <td>{{ libro.titulo }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ libro.autor }}</td>
            </tr>
            <tr>
                <th>Editorial</th>
                <td>{{ libro.editorial }}</td>
            </tr>
            <tr>
                <th>Año</th>
                <td>{{ libro.anio }}</td>
            </tr>
            <tr>
                <th>URL</th>
                <td><a href="{{ libro.url }}" target="_blank">{{ libro.url }}</a></td>
            </tr>
            <tr>
                <th>Clasificación</th>
                <td>{{ libro.clasificacion }}</td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td>{{ libro.isbn }}</td>
            </tr>

            <tr>
                <th>Portada</th>
                <td>
                    <div class="book-container">
                        <img src="{{ vich_uploader_asset(libro, 'portadaFile')}}" class="img-responsive book-image" alt="book cover">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="container mb-5">
                <div class="row row-cols-auto">
                    <div class="col"><a class="btn btn-dark" href="{{ path('app_libro_edit', {'slug': libro.slug}) }}"><i class="fa fa-edit"></i> Modificar</a></div>
                    <div class="col">{{ include('libro/_delete_form.html.twig') }}</div>
                </div>
            </div>
        {% endif %}

{% endblock %}
